
*:focus {
    outline: 0px;
}
* {
    outline: 0px;
    scroll-behavior: smooth;
}

body { 
    padding: 0px;
    margin: 0px;
background: white; 
scroll-behavior: smooth;
 }

a:focus { 
    clear: both;
}

.content {
    width: 100%;
    position: fixed;
    top: 27px;
    bottom: 28px;
    overflow-y: hidden;
    left: 0px;
background: linear-gradient(#ffffff,#e0e0e0,#ffffff);
}
.content:focus {
    background: #ffffff;
}


.header {
    width: 100%;
    padding: 5px 0px;
    font-size: 15px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-color: #000000;
    background: linear-gradient(#000000,#3c3c3c);
    outline: none;
    margin: 0px;
    vertical-align: middle;
    text-transform: capitalize;
    position: fixed;
    top: 0px;
    left: 0px;
    
}



.thumb {
    position: absolute;
    top: 2px;
    right: 2px;
    width: 70px;
    height: auto;
    background: black;
    border: 2px solid black;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.507);

}

table {
    width: 100%;
    height: 190px;
    background-color: rgba(255, 255, 255, 0.3);

}

.slide-icon {
    width: 8px;
    height: 30px;
    padding: 12px 3px;
    background-color: rgba(0, 0, 0, 0.541);
    border-radius: 5px;
}


.photo {
    width: 168px;
    height:168px;
    border-radius: 10px;
    margin-top: auto;
    padding: 22px 0px;
    border: 1px solid transparent;
    border-radius: 3px;

}


.slideleft { 
    animation-name: slideleft;
    animation-duration: .3s;
    animation-iteration-count: 1;
}

.slideright { 
    animation-name: slideright;
    animation-duration: .3s;
    animation-iteration-count: 1;
}

@keyframes slideleft {
   from { transform: translateX(1000px); }
   to { transform: translateX(0px); } 
}

@keyframes slideright {
    from { transform: translateX(-1000px); }
    to { transform: translateX(0px); } 
 }


.title {
    font-size: medium;
    font-weight: bold;
    text-align: center;
    width:100%;
    height:29px;
    background-color: rgba(255, 255, 255, 0.6);

}


.footer {
    width: 100%; 
    padding: 5px 0px;
    background-color: #000000;
    background: linear-gradient(#3b3b3b,#000000);
    text-align: center;
    color: white;
    display: flex;
    position: fixed;
    left: 0px; 
    bottom: 0px;
}

.footerelement {
display: inline-block;
width: 33%;
text-align: center;
}

.footerelement:nth-child(2) { 
    border-left: 3px solid gray;
    border-Right: 3px solid gray;
 }

.list {
    display: block;
    padding:8px 10px;
    border-bottom:1px solid #e4e2e2;
    text-decoration: none;
    color: black;
    font-size: 16px;
    text-transform: capitalize;
    background: linear-gradient(#fff,#f1f1f1);
    background-color: #fff;
}

.list:hover, .list:focus {
background: linear-gradient(#0a99db,#0882ba);
background-color: #0a99db;
color: white;
font-weight: bold;
}
.icon { 
    width: 16px;
    height: 16px;
    padding-right: 5px;
}